*{
    font-weight: bolder;
    box-sizing: border-box;
    width:auto ;
    height: auto;
}


.container{
    background-color: dimgrey;
    border-radius: 10px;
    width: 100%; 
    margin: 1px;
    padding: 5px;
    text-align: center;
}

button{
    margin: 5px;
    border-color: transparent;
    color: dimgray;
    border-radius: 20px;
    font-weight: bolder;
}

button:hover{
    background-color: lightslategrey;
    color:aliceblue ;
    cursor: pointer;
    transition: 0.3s;
}

li{
    list-style: none;
    border-radius: 20px;
}

li{
    background-color: aliceblue;
    color: black;
}

input{
    margin: 5px;
    position: static;
    border-radius: 20px;
    border: transparent;
    background-color: aliceblue ;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
    outline: none;
}

.clicked{
    text-decoration: line-through;
}